.allPage {
  :global(.ant-card-body) {
    padding: 16px !important;
  }

  :global(.ant-pagination) {
    margin: 16px 0 1px 0 !important;
  }

  :global(.ant-card-head) {
    min-height: 45px !important;
  }
}

.btnBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  button {
    width: 47%;
  }
}
